.category-filter-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 300px;
}

.category-card {
  border: 3px solid #c4c3c3;
  color: #868686;
  border-radius: 15px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 15px;
  box-shadow: 12px 13px 49px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 13px 49px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 13px 49px 0px rgba(0, 0, 0, 0.75);
}

.category-card:hover {
  color: #000000;
}

.category-card-image-block {
  padding: 10px;
  height: 220px;
}

.category-card-image {
  width: 200px;
}

.category-card-title {
  display: flex;
  justify-content: center;
}

.active {
  border: 3px solid #fa8282;
}

.product-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
}

.product-price {
  margin-left: 10px;
}

.product-discount {
  margin-left: 10px;
}

.red {
  font-size: 14px;
  color: #b21c1c;
}

.gray {
  color: #696969;
}

.discount {
  text-decoration: line-through;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin: 20px;
  height: 100px;
}

.product-card-image-block {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 160px;
}

.product-card-image {
  max-height: 150px;
  max-width: 140px;
}

.product-card-title {
  color: #2a2a2a;
  padding: 10px;
}