<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task-5</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        #form-box {
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container pt-5">
            <div class="d-flex justify-content-center text-black">
                <h3>Task-5</h3>
            </div>

            <div id="form-box">
                <div class="mt-5 col-6">

                    <div class="d-flex justify-content-center">
                        <p v-show="getErrors">{{errors.message}}</p>
                    </div>

                    <div class="form-group mt-5">
                        <label for="login-input">Логін</label>
                        <input type="text" class="form-control" id="login-input" placeholder="Введить ваш логін" v-model="login">
                    </div>
                    <div class="form-group mt-5">
                        <label for="password-input">Пароль</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Введить ваш пароль" v-model="password">
                    </div>

                    <button type="submit" class="mt-5 btn btn-primary" @click="makeLogin()">Увійти</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue;

        const app = createApp({
            data() {
                return {
                    users: [
                        {
                            'login' : 'user',
                            'password': 'password'
                        },
                        {
                            'login' : 'user2',
                            'password': 'password2'
                        },
                    ],
                    login: '',
                    password: '',
                    user: null,
                    errors: {
                        result: false,
                        message: ''
                    }
                }
            },
            computed: {
                getErrors() {
                    return this.errors.result
                }
            },
            methods: {
                makeLogin() {
                    console.log('makeLogin')
                    this.resetErrors()

                    this.getUser()

                    if (this.user) {
                        this.checkPassword()
                    }

                    this.errors.result = true
                    this.errors.message = 'Користувач не знайден'
                },
                resetErrors() {
                    console.log('resetErrors')
                    this.errors.result = false
                    this.errors.message = ''
                },
                getUser() {
                    this.users.forEach((user) => {
                        if (user.login === this.login) {
                            this.user = user
                        }
                    })
                },
                checkPassword() {
                    if (this.password !== this.user.password) {
                        this.errors.result = true
                        this.errors.message = 'Логін або пароль неправильні'
                    }
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>